@using AfroDungeonAndDragons.Models.CharacterCreator
@model IEnumerable<Race>
@{
    ViewData["Title"] = "Races";
}

@foreach (var race in Model)
{
    <div>
        <p><a href="/CharacterCreator/Races/@race.Name.ToLower()">@race.Name</a></p>
        <p>@race.FromBook</p>
        <p>@race.ShortDescription</p>
        <p>@race.RacialTrait</p>
    </div>
}