@using AfroDungeonAndDragons.Models.CharacterCreator
@model IEnumerable<Race>
@{       
    ViewData["Title"] = "Races";
}

<table class="table">
    @foreach (var race in Model)
    {
        <tr><td>@race.Name</td><td>@race.ShortDescription</td></tr>
    }
</table>