@model AfroDungeonAndDragons.Models.CharacterCreator.Background
@{
    ViewBag.Title = "Создание предыстории";
}
<form asp-action="CreateBackground" asp-controller="BackgroundCreator">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название предыстории</label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Introduction" class="control-label">Описание</label>
        <input asp-for="Introduction" class="form-control" type="text" />
        <span asp-validation-for="Introduction"></span>
    </div>
    <div class="form-group">
        <label asp-for="SkillProficienciesDescription" class="control-label">Владение навыками</label>
        <input asp-for="SkillProficienciesDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="ToolProficienciesDescription" class="control-label">Владение инструментами</label>
        <input asp-for="ToolProficienciesDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="LanguagesDescription" class="control-label">Языки</label>
        <input asp-for="LanguagesDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="EquipmentDescriptions" class="control-label">Снаряжение</label>
        <input asp-for="EquipmentDescriptions" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="BackgroundSpecificDescription" class="control-label">Спецификация</label>
        <input asp-for="BackgroundSpecificDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="FeatureDescription" class="control-label">Особенности</label>
        <input asp-for="FeatureDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="SuggestedCharcteristicsDescription" class="control-label">Персонализация</label>
        <input asp-for="SuggestedCharcteristicsDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="SpellListIntroductionDescription" class="control-label">Краткий список заклинаний</label>
        <input asp-for="SpellListIntroductionDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="SpellListExtendedDescription" class="control-label">Список заклинаний</label>
        <input asp-for="SpellListExtendedDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label asp-for="BackgroundVariantDescription" class="control-label">Варианты предыстории</label>
        <input asp-for="BackgroundVariantDescription" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить предысторию" class="btn btn-default" />
    </div>
</form>