@model AfroDungeonAndDragons.Models.CharacterCreator.Background
@{
    ViewBag.Title = "Изменение предыстории";
}
<form asp-action="UpdateBackground" asp-controller="BackgroundCreator">
    <div class="form_group">
        <label asp-for="Name">Название предыстории</label>
        <textarea asp-for="Name"></textarea>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form_group">
        <label asp-for="Introduction">Описание</label>
        <textarea asp-for="Introduction"></textarea>
        <span asp-validation-for="Introduction"></span>
    </div>
    <div class="form_group">
        <label asp-for="SkillProficienciesDescription">Владение навыками</label>
        <textarea asp-for="SkillProficienciesDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="ToolProficienciesDescription">Владение инструментами</label>
        <textarea asp-for="ToolProficienciesDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="LanguagesDescription">Языки</label>
        <textarea asp-for="LanguagesDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="EquipmentDescriptions">Снаряжение</label>
        <textarea asp-for="EquipmentDescriptions"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="BackgroundSpecificDescription">Спецификация</label>
        <textarea asp-for="BackgroundSpecificDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="FeatureDescription">Особенности</label>
        <textarea asp-for="FeatureDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="SuggestedCharcteristicsDescription">Персонализация</label>
        <textarea asp-for="SuggestedCharcteristicsDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="SpellListIntroductionDescription">Краткий список заклинаний</label>
        <textarea asp-for="SpellListIntroductionDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="SpellListExtendedDescription">Список заклинаний</label>
        <textarea asp-for="SpellListExtendedDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="BackgroundVariantDescription">Варианты предыстории</label>
        <textarea asp-for="BackgroundVariantDescription"></textarea>
    </div>
    <div class="content_button_body">
        <input type="submit" value="Сохранить изменения"/>
    </div>
</form>