@model AfroDungeonAndDragons.Models.CharacterCreator.Race
@{ 
    ViewBag.Title = "Создание расы";
}
<form asp-action="CreateRace" asp-controller="RaceCreator">
    <div class="form_group">
        <label asp-for="Name">Название расы</label>
        <textarea asp-for="Name"></textarea>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form_group">
        <label asp-for="ShortDescription">Краткое описание</label>
        <textarea asp-for="ShortDescription"></textarea>
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div class="form_group">
        <label asp-for="LitratureDescription">Литературное описание</label>
        <textarea asp-for="LitratureDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="NamesDescription">Описание имён</label>
        <textarea asp-for="NamesDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="NamesMan">Мужские имена</label>
        <textarea asp-for="NamesMan"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="NamesFemale">Женские имена</label>
        <textarea asp-for="NamesFemale"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="NamesClan">Названия кланов</label>
        <textarea asp-for="NamesClan"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="ShortRacialTraitDescription">Краткое описание особенностей</label>
        <textarea asp-for="ShortRacialTraitDescription"></textarea>
        <span asp-validation-for="ShortRacialTraitDescription"></span>
    </div>
    <div class="form_group">
        <label asp-for="RacialTraitDescription">Описание особенностей</label>
        <textarea asp-for="RacialTraitDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RacialCharacteristics">Увеличение характеристик</label>
        <textarea asp-for="RacialCharacteristics"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RacialAge">Возраст</label>
        <textarea asp-for="RacialAge"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RacialIdeology">Мировозрение</label>
        <textarea asp-for="RacialIdeology"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RaceSize">Размер</label>
        <textarea asp-for="RaceSize"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RaceSpeed">Скорость</label>
        <textarea asp-for="RaceSpeed"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RacialLanguages">Языки</label>
        <textarea asp-for="RacialLanguages"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="RacialSpellDescription">Описание способностей</label>
        <textarea asp-for="RacialSpellDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="SubraceDescription">Описание подрас</label>
        <textarea asp-for="SubraceDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="SubraceFeatureDescription">Особенности подрас</label>
        <textarea asp-for="SubraceFeatureDescription"></textarea>
    </div>
    <div class="content_button_body">
        <input type="submit" value="Сохранить расу"/>
    </div>
</form>