<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AfroDungeonAndDragons</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="wrapper">

        <header class="mainHeader">
            <div class="divHeader">
                <img class ="headerLogo" src="~/pictures/SiteLogo.png" />
            </div>
            <div>

            </div>
        </header>
        <nav class="mainNavigation">
            <div class="divNavigation">
                <a class="aNavigation">1</a>
                <a class="aNavigation">2</a>
                <a class="aNavigation">3</a>
            </div>
        </nav>
        <content class="mainContent">
            <div class="divContent">
                @RenderBody()
            </div>
        </content>
        <footer class="mainFooter">
            <div class="leftSideFooter">
                2021 - AfroDungeonAndDragons<br />
                Приятной игры всем любителям D&D!
            </div>
            <div class="rightSideFooter">
                    <a href="">Ссылка</a>
                    <a href="">Ссылка</a>
                    <a href="">Ссылка</a>
                </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
