@model AfroDungeonAndDragons.Models.CharacterCreator.Class
@{
    ViewBag.Title = "Изменение класса";
}
<form asp-action="UpdateClass" asp-controller="ClassCreator">
    <div class="form_group">
        <label asp-for="Name">Название класса</label>
        <textarea asp-for="Name"></textarea>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form_group">
        <label asp-for="LitratureDescription">Литературное описание</label>
        <textarea asp-for="LitratureDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="ShortDescription">Краткое описание</label>
        <textarea asp-for="ShortDescription"></textarea>
        <span asp-validation-for="ShortDescription"></span>
    </div>
    <div class="form_group">
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="ClassCreationDescription">Описание создания класса</label>
        <textarea asp-for="ClassCreationDescription"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="ClassCreationTable">Таблица класса</label>
        <textarea asp-for="ClassCreationTable"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="QuickBuild">Быстрое создание</label>
        <textarea asp-for="QuickBuild"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Multiclass">Мультиклассирование</label>
        <textarea asp-for="Multiclass"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="HitDice">Кость Хитов</label>
        <textarea asp-for="HitDice"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="HitPointsAtFirstLevel">Хиты на 1 уровне</label>
        <textarea asp-for="HitPointsAtFirstLevel"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="HitPointsAtHigherLevels">Хиты на следующих уровнях</label>
        <textarea asp-for="HitPointsAtHigherLevels"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Armor">Доспехи</label>
        <textarea asp-for="Armor"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Weapons">Оружие</label>
        <textarea asp-for="Weapons"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Tools">Инструменты</label>
        <textarea asp-for="Tools"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="SavingThrows">Спасброски</label>
        <textarea asp-for="SavingThrows"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Skills">Навыки</label>
        <textarea asp-for="Skills"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="Equipment">Снаряжение</label>
        <textarea asp-for="Equipment"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="ClassSpells">Заклинания</label>
        <textarea asp-for="ClassSpells"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="TypeTitle">Типы классов</label>
        <textarea asp-for="TypeTitle"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="TypeDescriprion">Описание типов классов</label>
        <textarea asp-for="TypeDescriprion"></textarea>
    </div>
    <div class="form_group">
        <label asp-for="VariantDescription">Подклассы</label>
        <textarea asp-for="VariantDescription"></textarea>
    </div>
    <div class="content_button_body">
        <input type="submit" value="Сохранить изменения" />
    </div>
</form>