@using AfroDungeonAndDragons.Models.DefaultInformation
@model IEnumerable<DefaultRace>
@{
    ViewBag.Title = "Список рас";
}
@foreach (var race in Model)
{
    <div>
        <p><h3><b><a asp-action="AboutRace" asp-controller="Races" asp-route-id="@race.Id">@race.Name</a></b></h3></p>
        <p><h5>@race.FromBook</h5></p>
        <p>@race.ShortDescription</p>
    </div>
}
