body {
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #f5f3f1;
}

    .wrapper > header, .wrapper > nav, .wrapper > main, .wrapper > footer {
        padding: 0 20%;
        width: 60%;
    }

.mainHeader {
    min-height: 3rem;
    height: 10vh;
    background-color: #090809;
}

    .mainHeader > div {
        display: inline-block;
    }

.headerLogo {
    background-image: url('/pictures/SiteLogo.png');
    background-size: cover;
    width: 7rem;
    height: 3rem;
}

.mainNavigation {
    min-height: 3rem;
    height: 8vh;
    background-color: #26282a;
}

.divNavigation {
    padding-top: 1rem;
    color: white;
}

.mainContent {
    min-height: 72vh;
    background-color: #f5f3f1;
}

.mainFooter {
    min-height: 10vh;
    background-color: #191a1b;
}

    .mainFooter > div {
        padding-top: 1rem;
        display: inline-block;
    }

.leftSideFooter {
    color: #868a9c;
    font-size: 14px;
    line-height: 150%;
    width: 50%;
}

.rightSideFooter {
    float: right;
    width: 50%;
}

    .rightSideFooter > * {
        float: right;
        padding-left: 1rem;
    }
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}